@import "tailwindcss";

/* custom global styles */
:root {
  --vg-bg-1: #031022;
  --vg-bg-2: #07112b;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: linear-gradient(180deg, var(--vg-bg-1) 0%, var(--vg-bg-2) 60%);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto;
}